{% extends 'base.html' %}
{% block title %}40 Sports Centre - Class Booking{% endblock %}
{% block style %}classbooking.css{% endblock %}
{% block content %}
<div class="booking__outerdiv">
  <div class="/static/image__div">
    <img
      src="/static/image/yoga.PNG"
      alt="Photo of yoga class"
      class="/static/image"
      height="250"
    />
    <img
      src="/static/image/bodypump.PNG"
      alt="Photo of baody pump"
      class="/static/image"
      height="250"
    />
    <img
      src="/static/image/bodycombat.PNG"
      alt="Photo of body combat"
      class="/static/image"
      height="250"
    />
  </div>

  <div class="intro__div">
    <p class="header">Book Easily, Train Flexibly!</p>
    <p class="desc">With over 15 types of exercse classes</p>
    <button class="book__button">BOOK NOW</button>
  </div>

  <div class="/static/image__div">
    <img
      src="/static/image/spin.PNG"
      alt="Photo of spin"
      class="/static/image"
      height="250"
    />
    <img
      src="/static/image/zumba.PNG"
      alt="Photo of Zumba"
      class="/static/image"
      height="250"
    />
    <img
      src="/static/image/step.PNG"
      alt="Photo of Step"
      class="/static/image"
      height="250"
    />
  </div>
</div>

<div class="pricelist__div">
  <p class="header">Price List</p>
  <div class="pricing">
    <p>Facilities and Pricing</p>
    <p>(For Non-Members)</p>
  </div>
  <div class="horizontal__line"></div>
  <div class="pricetable__div">
    <table class="price__table">
      <tr>
        <td>Yoga</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Zumba</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Pilates</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Kung Fu</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Boxercise</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Kickboxing</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Cycle Power</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Lane Swim</td>
        <td>£12 per session</td>
      </tr>
    </table>

    <table class="price__table">
      <tr>
        <td>Body Jam</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Hiit</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Body Pump</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Body Attack</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Body Combat</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Les Mills Spin</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Les Mills Step</td>
        <td>£12 per session</td>
      </tr>
      <tr>
        <td>Cycle Beat</td>
        <td>£12 per session</td>
      </tr>
    </table>
  </div>

  <div class="timetable__outerdiv">
    <h1 class="timetable__header">Class Timetable</h1>
    <div class="calendar__div">
      <div class="calendar">
        <div class="calendar-header">
          <span class="prev-btn">&lt;</span>
          <span class="month-year"></span>
          <span class="next-btn">&gt;</span>
        </div>
        <div class="calendar-body">
          <div class="weekdays">
            <span>Sun</span>
            <span>Mon</span>
            <span>Tue</span>
            <span>Wed</span>
            <span>Thu</span>
            <span>Fri</span>
            <span>Sat</span>
          </div>
          <div class="days"></div>
        </div>
      </div>

      <div class="class__available">
        <div class="instruction">
          Click on the calendar to check class availability
        </div>
        <h1 class="class__header">Classes Available On:</h1>
        <div class="date" id="class__date"></div>
      </div>
    </div>
  </div>
<div class="pricing__members">
    <p>Booking are free of charge for all members</p>
    <p>(Included in memberships)</p>
  </div>
</div>
{% if session['loggedin'] != None %}
<div class="reservation__outerdiv">
  <h1 class="header">Make Your Reservation</h1>
  <div class="reservation__div">
    <!-- <div class="question">
      Are you a member?
      <div class="option">
        <input type="checkbox" /> Yes <input type="checkbox" /> No
      </div>
    </div> -->
    <div class="question">
      Facility Type
      <div class="option">
        <select
          id="facility_list"
          class="facility_list"
          name="facility_list"
        >
          <option value="0" selected>
            -- Select a Facility --
          </option>
        </select>
      </div>
    </div>
    <div class="question">
      Activity Type
      <div class="option">
        <select
          id="activity_list"
          class="activity_list"
          name="activity_list"
        >
          <option value="0" selected>-- Select an Activity --</option>
        </select>
      </div>
    </div>
    <div id="activity-message" class="availability"></div>
    <div class="question">
      Class/Session
      <div class="option">
        <select
        id="class_list"
        class="class_list"
          name="class_list"
          required
        >
          <option value="none" selected>
            -- Select a Class --
          </option>
        </select>
      </div>
    </div>
    <div class="question">
      Date and Time
      <div class="option">
        <input id="booking-date" type="date" />
        <label for="start-time">From: </label>
        <input id="start-time" type="time" />
        <label for="end-time">To: </label>
        <input id="end-time" type="time" />
      </div>
    </div>
    <button id="btn-check-availability">Check Availability</button>
    <div id="message" class="availability">
      
    </div>

    <button id="btnAdd" disabled>Add to Basket</button>
    <button id="btnCheckout" disabled>Checkout</button>
  </div>
</div>
{% endif %}
{% endblock %}
{% block script %}
<script>
    var cart = [];
    var days = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    class CartItem {
      constructor(facility_id,activity_id, class_id, item, price, type, start_time, end_time) {
        this.facility_id = facility_id;
        this.activity_id = activity_id;
        this.class_id = class_id;
        this.item = item;
        this.price = price;
        this.type = type;
        this.start_time = start_time;
        this.end_time = end_time;
      }
    }

    $('document').ready(function() {
      var stored_cart = localStorage.getItem('cart');
      if(stored_cart)
        cart = JSON.parse(stored_cart);
      var facility_id = null;
      console.log(cart);

      var get_data = function(key, id) {
        var items = JSON.parse(localStorage.getItem(key));
        var item = items.find(function(i) {
          return i.id == id;
        });
        return item;
      };

      $('#btnAdd').on('click', function(){
        var data = availability_data();
        var facility = get_data('s-facilities', data.facility_id);
        var activity = get_data('activities', data.activity_id);
        var booking_class = get_data('s-classes', data.class_id);
        console.log(data);
        var facility_name = data.facility_name + '-' + data.activity_name + '-' + booking_class.class_name+ '-' + $('#booking-date').val() + '-' + $('#start-time').val() + '-' + $('#end-time').val();
        var order = new CartItem(data.facility_id, data.activity_id, data.class_id, facility_name, activity.price, "Class", data.check_start_time, data.check_end_time);
        cart.push(order);
        localStorage.setItem('cart', JSON.stringify(cart));
        console.log(cart);
        $('#btnCheckout').attr('disabled',false);
      });

      $.ajax({
          url: "/sports-facilities",
          cache: false
      }).done(function(data){
        if(data) {
          localStorage.setItem("s-facilities", JSON.stringify(data.facilities));
          localStorage.setItem("activities", JSON.stringify(data.activities));
          localStorage.setItem("s-classes", JSON.stringify(data.classes));
          $.each(data.facilities, function(index, f){
            if(f.is_classes) {
              var option = '<option value="' + f.id + '">'+
              f.facility_name +
              "</option>";
              $('#facility_list').append(option);
            }
          });
        }
      });

      $('#facility_list').on('change', function(){
        var facility_id = $('#facility_list option:selected').val();
        var allActivities = JSON.parse(localStorage.getItem('activities'));
        var allClasses = JSON.parse(localStorage.getItem('s-classes'));
        var activities = allActivities.filter(function(a){
          return a.facility_id == parseInt(facility_id);
        });

        $('#activity_list').html('<option value="0" selected>-- Select an Activity --</option>');
        $.each(activities, function(index, a){
          var option = '<option value="' + a.id + '">'+
            a.activity_name +
          "</option>";
          $('#activity_list').append(option);
        });

        $('#activity_list').on('change', function(){
          var activity_id = $('#activity_list option:selected').val();
          var activity = get_data('activities', activity_id);          
          if(activity) {
            var activityMessage = 'Activity is for ' + activity.duration.toString() + ' hour(s) and ' + activity.unit + ' person(s)';
            var classes = allClasses.filter(function(c){
                return c.sports_activity_id == activity.id;
            });
            $.each(classes, function(index, c){
              var option = '<option value="' + c.id + '">'+
              c.class_name + ' - ' + days[c.day_of_week]
              "</option>";
              $('#class_list').append(option);
              activityMessage = activityMessage +'<br>'+ c.class_name + ' On ' + days[c.day_of_week]+' from '+c.start_time+' to '+c.end_time
            });
            $('#activity-message').html(activityMessage);
          }
        });
      });

      $('#btnCheckout').on('click', function(){
        window.location.href = '/cart';
      });

      $('#btn-check-availability').on('click', function(){
        var data = availability_data();
        console.log(data);
        var activity = get_data('activities',data.activity_id);
        var allClasses = JSON.parse(localStorage.getItem('s-classes'));
        var start_time = $('#start-time').val();
        var end_time = $('#end-time').val();
        var classes = allClasses.find(function(c){
          return c.id == parseInt($('#class_list option:selected').val()) && c.start_time === start_time && c.end_time === end_time;
        });
        console.log(classes);
        if(!classes) {
          $('#message').text('Invalid date/time selection');
          return;
        }

        var dateDiff = (data.check_end_time - data.check_start_time) / 1000;
        var duration = dateDiff/(3600);
        if(duration != activity.duration) {
          $('#message').text('Time duration is invalid');
          return;
        }
        $('#message').text('');
        $.ajax({
          url: '/sports-bookings/check',
          type: 'POST',
          data: JSON.stringify(data),
          contentType: "application/json",
          success: function () {
            $('#message').html('The facility is available on the selected time slot.');
            $('#btnAdd').attr('disabled',false);
          },
          error: function () {
            $('#message').html('The facility is not available on the selected time slot.');
            $('#btnAdd').attr('disabled',true);
          }
          });
        });
        var availability_data = function() {
        s = new Date($('#booking-date').val() + "T" + $('#start-time').val());
        e = new Date($('#booking-date').val() + "T" + $('#end-time').val());
        class_id = $('#class_list option:selected').val();
        var booking_class = get_data('s-classes',parseInt(class_id));
        return {
          facility_id: $('#facility_list option:selected').val(),
          facility_name: $('#facility_list option:selected').text(),
          activity_id: $('#activity_list option:selected').val(),
          activity_name: $('#activity_list option:selected').text(),
          class_id: booking_class.id,
          class_name: booking_class.class_name,
          check_start_time: s,
          check_end_time: e
        };
      };
    });

</script>
<script>
  const calendar = document.querySelector(".calendar");
  const monthYear = calendar.querySelector(".month-year");
  const prevBtn = calendar.querySelector(".prev-btn");
  const nextBtn = calendar.querySelector(".next-btn");
  const daysContainer = calendar.querySelector(".days");

  const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];

  let currentDate = new Date();

  function displayCalendar() {
    const firstDayOfMonth = new Date(
      currentDate.getFullYear(),
      currentDate.getMonth(),
      1
    );
    const lastDayOfMonth = new Date(
      currentDate.getFullYear(),
      currentDate.getMonth() + 1,
      0
    );
    const lastDayOfPrevMonth = new Date(
      currentDate.getFullYear(),
      currentDate.getMonth(),
      0
    );

    let days = "";

    // Display previous month's days
    for (let i = firstDayOfMonth.getDay(); i > 0; i--) {
      days += `<span class="prev-month">${
        lastDayOfPrevMonth.getDate() - i + 1
      }</span>`;
    }

    // Display current month's days
    for (let i = 1; i <= lastDayOfMonth.getDate(); i++) {
      const date = new Date(
        currentDate.getFullYear(),
        currentDate.getMonth(),
        i
      );
      const isToday = date.toDateString() === new Date().toDateString();
      const className = isToday
        ? "today"
        : date.getMonth() < currentDate.getMonth()
        ? "prev-month"
        : date.getMonth() > currentDate.getMonth()
        ? "next-month"
        : "";
      days += `<span class="${className}">${i}</span>`;
    }

    // Display next month's days
    for (let i = 1; i <= 7 - lastDayOfMonth.getDay() - 1; i++) {
      days += `<span class="next-month">${i}</span>`;
    }

    monthYear.innerHTML = `${
      months[currentDate.getMonth()]
    } ${currentDate.getFullYear()}`;
    daysContainer.innerHTML = days;
  }

  displayCalendar();

  prevBtn.addEventListener("click", () => {
    currentDate = new Date(
      currentDate.getFullYear(),
      currentDate.getMonth() - 1,
      1
    );
    displayCalendar();
  });

  nextBtn.addEventListener("click", () => {
    currentDate = new Date(
      currentDate.getFullYear(),
      currentDate.getMonth() + 1,
      1
    );
    displayCalendar();
  });

  var getCalendarClasses = function(dow) {
      var classes = JSON.parse(localStorage.getItem('s-classes'));
      var activities = JSON.parse(localStorage.getItem('activities'));
      var available = classes.filter(function(c){
        return c.day_of_week == dow;
      });
      var s = "";      
      console.log(available);
      available.forEach(function(c){
        var activity = activities.find(function(a){ return a.id == c.sports_activity_id;});
        if(!activity.is_team) {
          s = s + `<br>${c.class_name} from ${c.start_time} to ${c.end_time}`;
        }
      });
      if(s.length == 0) {
        s = "<br>No class on that date";
      }

      return s;
  };

  daysContainer.addEventListener("click", (event) => {
    if (event.target.classList.contains("prev-month")) {
      currentDate = new Date(
        currentDate.getFullYear(),
        currentDate.getMonth() - 1,
        1
      );
      displayCalendar();
    } else if (event.target.classList.contains("next-month")) {
      currentDate = new Date(
        currentDate.getFullYear(),
        currentDate.getMonth() + 1,
        1
      );
      displayCalendar();
    } else {
      console.log(currentDate);
      const day = event.target.innerHTML;
      const month = currentDate.getMonth() + 1;
      const year = currentDate.getFullYear();
      var d = new Date(`${year}-${month}-${day}`);
      const dow = d.getDay();
      var classes = getCalendarClasses(dow);
      const dateStr = `${year}-${month}-${day}`;
      document.querySelector("#class__date").innerHTML = dateStr+classes;
    }

  });
</script>
{% endblock %}
