* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*****************/
/*NAVIGATION BAR*/
/*****************/
.navigation_div {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 8%;
  height: 8%;
  padding-left: 40px;
}
.navigation_div .navigation_link a {
  color: white;
  padding: 20px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}

.navigation_div .navigation_link {
  margin: 5px 30px 5px 30px;
  display: flex;
}

/*****************/
/*INTRODUCTION*/
/*****************/
.booking__outerdiv {
  background-color: black;
}

.image__div {
  display: flex;
}

.image {
  width: 33.33%;
}

.intro__div {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.header {
  font-size: 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Helvetica,
    sans-serif, "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  margin-bottom: 5px;
  color: white;
}

.desc {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Helvetica,
    sans-serif, "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 12px;
  color: white;
}

.book__button {
  background-color: grey;
  color: white;
  border-radius: 20px;
  border: 0px;
  padding: 10px 20px 10px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Helvetica,
    sans-serif, "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}

/*****************/
/*FACILITIES BOOKING*/
/*****************/
.facilitiesbooking__div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
}
.header {
  margin-top: 25px;
  font-size: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Helvetica,
    sans-serif, "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  margin-bottom: 7px;
}

.facilities__option {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* margin: 10px; */
}

.facilities__column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.facilities__button {
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Helvetica,
    sans-serif, "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 300px;
  font-size: 20px;
  padding: 7px;
  border-radius: 15px;
  background-color: #8e9cab;
  font-weight: bold;
  text-align: center;
  color: black;
  text-decoration: none;
}

/*****************/
/*PRICE LIST*/
/*****************/
.pricelist__div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  /* margin-bottom: 30px; */
}
table,
th,
td {
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
td {
  height: 40px;
}
tr {
  padding-bottom: 10px;
  height: 20px;
}
table {
  margin-top: 20px;
}
header td {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
.pricing {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.pricing__members {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: yellow;
}

.horizontal__line {
  margin-top: 20px;
  /* border: 10px white solid; */
  height: 10px;
  width: 40%;
  background-color: white;
}
.price__table {
  margin: 25px;
}
.pricetable__div {
  display: flex;
}
/*****************/
/*RESERVATION*/
/*****************/
.reservation__outerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
  background-color: white;
  /* color: white; */
  /* height: 100vh; */
}
.reservation__div {
  border: 2px solid black;
  width: 30%;
  border-radius: 15px;
  margin-bottom: 30px;
}
.reservation__header {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
  margin-top: 25px;
}

.question {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
  margin-bottom: 15px;
}
.option {
  margin-top: 10px;
}

input,
select {
  margin-right: 20px;
  padding: 5px;
}

button {
  margin: 10px;
  border-radius: 5px;
  padding: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  background-color: grey;
  color: white;
}

.availability {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 15px;
  color: green;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*****************/
/*PRICE LIST*/
/*****************/
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
td.today {
  background-color: #d9d9d9;
}
/*****************/
/*CLASS TIMETABLE/
/*****************/
.timetable__outerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.timetable__header {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 15px;
  margin-bottom: 20px;
}

.calendar__div {
  display: flex;
}

.class__available {
  margin-left: 20px;
  width: 40%;
}

.date {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  width: 500px;
  margin-right: 50px;
}

.calendar-header {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px; */
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px;
}

.calendar-header span {
  cursor: pointer;
}

.calendar-body {
  padding: 10px;
}
.today {
  color: green;
  font-weight: bold;
}
.instruction {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.prev-month,
.next-month {
  color: grey;
}
.weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.weekdays span {
  font-weight: bold;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.days span {
  width: calc(100% / 7);
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  /* padding: 5px; */
}

.days span:hover {
  background-color: #ccc;
}

.class__header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
/*****************/
/*RESERVATION*/
/*****************/
.reservation__outerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
  /* background-color: white; */
  background-color: black;
  color: white;
  /* height: 100vh; */
}
.reservation__div {
  border: 2px solid white;
  width: 30%;
  border-radius: 15px;
  margin-bottom: 30px;
}
.header {
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
}

.question {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
  margin-bottom: 15px;
}
.option {
  margin-top: 10px;
}

input,
select {
  margin-right: 20px;
  padding: 5px;
}

button {
  margin: 10px;
  border-radius: 5px;
  padding: 7px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  background-color: grey;
  color: white;
}

.availability {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 15px;
  color: greenyellow;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*****************/
/*FOOTER*/
/*****************/
.footer {
  height: 150px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  height: 100px;
  margin-top: 25px;
  margin-left: 100px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.list__link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: white;
  padding-bottom: 5px;
}
.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}
.copyright {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  margin-top: 100px;
  margin-right: 80px;
}
