<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" text="text/css" href="/static/styles/{% block style %}{% endblock %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--navigation bar-->
    <div class="navigation_div">
      <img src="/static/image/logo.PNG" alt="Logo of 40 Sports Centre" id="logo" />
      <div class="navigation_link">
        <a href="/manager/home">HOME</a>
        <a href="/manager/sports">SPORTS</a>
        <a href="/manager/staff">STAFF</a>
        <a href="/manager/account">MY ACCOUNT</a>
        <a href="/manager/logout">LOG OUT</a>
      </div>
    </div>

    {% block content %}{% endblock %}

    <div class="footer">
        <img src="/static/image/logo.PNG" alt="Logo" class="footer__logo" />
        <div class="list">
          <div class="title">Services</div>
          <a href="/sportsbooking" class="list__link">Sports Booking</a>
          <a href="/classbooking" class="list__link">Class Booking</a>
          <a href="/membership" class="list__link">Membership</a>
        </div>
  
        <div class="list">
          <div class="title">Contact Us</div>
          <a href="" class="list__link">Facebook</a>
          <a href="" class="list__link">Instagram</a>
          <a href="" class="list__link">Twitter</a>
        </div>
  
        <div class="copyright">Copyright @40SportsCentre2023</div>
      </div>
      {% block script %}
      {% endblock %}
    </body>
</html>
